// THEME
main =  #202020
mainDark = black
mainLight = #caaabd
font = 'Roboto', sans-serif
fontcolor = #777777

body {
	font-family: font;
}

@import "./buttons"
@import "./dropdowns"
@import "./transitions"
