// THEME
main =  #202020
mainDark = black
mainLight = #caaabd
font = 'Arial', sans-serif
fontcolor = #777777
fontSize = 15px
primaryColour = black;
minBreakpoint = 390px;
smBreakpoint = 480px;
breakpoint = 960px;


body {
    font-family: font;
    font-size: fontSize;
    width: 100%;
}

h1 {
    font-size: 30px;
    padding: 0;
    font-weight: bold;
}

h6 {
    font-weight: bold;
    font-size: fontSize;
}

hr {
    color: #E0E1DC;
}

a {
    color: primaryColour;
    text-decoration: underline;
}

li {
    list-style-type: square;
}

.layout__sidebar {
    float: left;
    margin-left: 0;
}

.layout__main {
    float: right;
}

@import "./buttons"
@import "./forms"
@import "./dropdowns"
@import "./logo"
